pytest
entrypoints==0.3
Flask==1.1.1
coverage==4.2
six==1.12.0
pandas==0.24.2
requests==2.22.0



Python3.11.0
bert-for-tf2==0.14.9
Flask==2.2.2
pytest
entrypoints==0.3
coverage==4.2
pandas==2.0.3
requests==2.22.0
tensorflow==2.13.0
six==1.12.0